*filter
:INPUT ACCEPT [0:0]
:DOCKER-USER - [0:0]
:FILTERS - [0:0]
#Can't flush INPUT. wipes out docker swarm encrypted overlay rules
#-F INPUT
#Use ansible task instead to add -I INPUT -j FILTERS
#-I INPUT -j FILTERS
#This is from Docker Swarm encrypted overlay! It appends new rules to INPUT!
# -A INPUT -p udp -m policy --dir in --pol ipsec -m udp --dport 4789 -m u32 --u32 "0x0>>0x16&0x3c@0xc&0xffffff00=0x100600" -j ACCEPT
# -A INPUT -p udp -m udp --dport 4789 -m u32 --u32 "0x0>>0x16&0x3c@0xc&0xffffff00=0x100600" -j DROP
#-A INPUT -j RETURN
-F DOCKER-USER
#If wildcard used to block all network interfaces, this is needed to allow docker traffic.
-A DOCKER-USER -i docker_gwbridge -j RETURN
-A DOCKER-USER -i docker0 -j RETURN
{% if iptables_docker_swarm_ports_allow_tcp is defined and iptables_docker_swarm_ports_allow_tcp %}
-A DOCKER-USER -p tcp -m tcp -m multiport --dports {% for ports in iptables_docker_swarm_ports_allow_tcp|sort %}{{ ports }}{% if not loop.last %},{% endif %}{% endfor %} -j RETURN
#TODO needed? No traffic to the rule
# -A DOCKER-USER -p tcp -m state --state RELATED,ESTABLISHED -m tcp -m multiport --sports {% for ports in iptables_docker_swarm_ports_allow_tcp|sort %}{{ ports }}{% if not loop.last %},{% endif %}{% endfor %} -j RETURN
{% endif %}
{% if iptables_docker_swarm_ports_allow_udp is defined and iptables_docker_swarm_ports_allow_udp %}
-A DOCKER-USER -p udp -m udp -m multiport --dports {% for ports in iptables_docker_swarm_ports_allow_udp|sort %}{{ ports }}{% if not loop.last %},{% endif %}{% endfor %} -j RETURN
{% endif %}
{% if iptables_docker_swarm_network_adapter is defined and "+" in iptables_docker_swarm_network_adapter %}
# -A DOCKER-USER -m set ! --match-set ip_allow src -j DROP
#Can't have 2 lines with ! .. never match 2nd! Have to have seperate chains?? Also, don't need since at top is a return for docker interfaces
# -A DOCKER-USER ! -i docker_gwbridge -m set ! --match-set ip_allow src -j DROP
# -A DOCKER-USER ! -i docker0 -m set ! --match-set ip_allow src -j DROP
-A DOCKER-USER -m set ! --match-set ip_allow src -j DROP
{% else %}
{% for adapter in iptables_docker_swarm_network_adapter -%}
-A DOCKER-USER -i {{ adapter }} -m set ! --match-set ip_allow src -j DROP
{% endfor %}
{% endif %}
-A DOCKER-USER -j RETURN
-F FILTERS
#Because Docker Swarm encrypted overlay network just appends rules to INPUT. Has to be at top unfortunately
-A FILTERS -p udp -m policy --dir in --pol ipsec -m udp -m set --match-set ip_allow src --dport 4789 -j RETURN
-A FILTERS -m state --state RELATED,ESTABLISHED -j ACCEPT
-A FILTERS -p icmp -j ACCEPT
-A FILTERS -i lo -j ACCEPT
{% if iptables_docker_global_ports_allow_tcp is defined and iptables_docker_global_ports_allow_tcp %}
#Below tcp ports open to everyone
-A FILTERS -p tcp -m state --state NEW -m tcp -m multiport --dports {% for ports in iptables_docker_global_ports_allow_tcp|sort %}{{ ports }}{% if not loop.last %},{% endif %}{% endfor %} -j ACCEPT
{% endif %}
{% if iptables_docker_global_ports_allow_udp is defined and iptables_docker_global_ports_allow_udp %}
#Below udp ports open to everyone
-A FILTERS -p udp -m udp -m multiport --dports {% for ports in iptables_docker_global_ports_allow_udp|sort %}{{ ports }}{% if not loop.last %},{% endif %}{% endfor %} -j ACCEPT
{% endif %}
{% if iptables_docker_external_network_adapter is defined and "+" in iptables_docker_external_network_adapter %}
# -A FILTERS -m set ! --match-set ip_allow src -j DROP
#Can't have 2 lines with ! .. never match 2nd!
# -A FILTERS ! -i docker_gwbridge -m set ! --match-set ip_allow src -j DROP
# -A FILTERS ! -i docker0 -m set ! --match-set ip_allow src -j DROP
-A FILTERS -m set ! --match-set ip_allow src -j DROP
{% else %}
{% for adapter in iptables_docker_external_network_adapter -%}
-A FILTERS -i {{ adapter }} -m set ! --match-set ip_allow src -j DROP
{% endfor %}
{% endif %}
-A FILTERS -j RETURN
COMMIT
# {{ ansible_managed }}
